<?xml version="1.0"?>

<launch>
    <!-- Start Gazebo with world -->
    <!-- Different options for section are:
    - somport_complete
    - section_1
    ...
    - section_6
    -->
    <arg name="section" default="complete" />
    <arg name="path_to_scenario" value="$(find somport_gazebo)/worlds/$(arg section).world" />

    <!-- Launch gazebo with the loaded world-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg path_to_scenario)" />
    </include>
</launch>
